*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: antiquewhite;
    color: rgb(83, 79, 79);
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(83, 65, 65);
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

#user-score, 
#comp-score{
    font-size: 4rem;
}

#msg{
    background-color: rgb(72, 104, 72);
    color: antiquewhite;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;  
}

#msg:hover{
    cursor: pointer;
}